@import "tailwindcss";

@theme {
  --font-sans: var(--font-space), ui-sans-serif, system-ui;
  --font-outfit: var(--font-outfit), sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #fcfcf9;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}