@import "tailwindcss";

@theme {
  --font-sans: var(--font-space), ui-sans-serif, system-ui;
  --font-outfit: var(--font-outfit), sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #fcfcf9;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

input, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  -webkit-tap-highlight-color: transparent;

  background-color: #ffffff !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  transition: background-color 5000s ease-in-out 0s;
}